{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Password Reset</h2>
            <br><br>
            <form action="" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter your new password" required>
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm your new password" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block" name="password-form">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

 

    const newPasswordInput = document.getElementById("new_password");
    const confirmPasswordInput = document.getElementById("confirm_password");
    const passwordForm = document.querySelector("button[name='password-form']");
    
    function checkPasswordMatch() {
      if (newPasswordInput.value === confirmPasswordInput.value) {
        passwordForm.disabled = false;
       
      } else {
        passwordForm.disabled = true;
        
      }
    }
    
    newPasswordInput.addEventListener("input", checkPasswordMatch);
    confirmPasswordInput.addEventListener("input", checkPasswordMatch);
   


  </script>
{% endblock %}
