{% extends 'admin/base.html' %}

{% block page_title %}
    Add Student
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Student</h3>
                    </div>
                    <form  method="POST" action="" enctype="multipart/form-data">
                        
                        {% csrf_token %}
                        
                        {% include 'admin/student_form.html' %}
                            
       
                       
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->
                   
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}
