{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href=" url 'student_home' " class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Student</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            {% if user.photo %}
                <img src="{{ user.photo.url }}" class="img-circle elevation-2" alt="User Image">
            {% else %}
                <!-- Add a path to a default/random image if the user doesn't have a photo -->
                <img src="{% static 'https://cdn-icons-png.flaticon.com/512/666/666201.png' %}" class="img-circle elevation-2" alt="User Image">
            {% endif %}
          </div>
          <div class="info">
            <a href="" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            
            <li class="nav-item">
              {% url 'student_home' as student_home %}
              <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li> 

            <li class="nav-item">
              {% url 'student_view_result' as student_view_result %}
              <a href="{% url 'student_prediction' %}" class="nav-link {% if request.path == student_view_result %} active {% endif %}">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  View Prediction
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'add_certificates' as add_certificates %}
              <a href="{% url 'add_certificates' %}" class="nav-link {% if request.path == add_certificates %} active {% endif %}">
                <i class="nav-icon fas fa-envelope-open-text"></i>
                <p>
                  Add Achievements
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'manage_courses' as manage_courses %}
              <a href="{{ manage_courses }}" class="nav-link {% if request.path == manage_courses %} active {% endif %}">
                <i class="nav-icon fas fa-book"></i>
                <p>
                  Manage Courses
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'student_feedback' as student_feedback %}
              <a href="{{ student_feedback }}" class="nav-link {% if request.path == student_feedback %} active {% endif %}">
                <i class="nav-icon fas fa-comments"></i>
                <p>
                  Send Feedback
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>